<h1> Make an investment </h1>

<% if @investment.errors.any? %>
    <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

    <ul>
    <% @investment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for @investment, :html => { :class => "form_for"} do |x| %>

<%= x.label :user_id %>
<%= select(:investment,:user_id, User.all.collect { |p| [p.first_name+" "+p.last_name, p.id]}, {include_blank: true}, {:class => "input_form_for",required: true})   %>

<br>
<%= x.label :project_id %>
<%= select(:investment, :project_id, Project.all.collect {|p| [ p.name, p.id ] }, {include_blank: true}, {:class => "input_form_for",required: true}) %>

<br>
<%= x.label :amount %>
<%= x.text_field :amount,  :class => "input_form_for",  type: 'number', required: true, min: '1' %>

<br>
<%= x.submit class: "submit_form_for" %>
<% end %>
<br>

<%= link_to 'Back', investments_path %>
