<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Thanks <%=@investor.first_name%> for supporting <%=@project.name%> with $<%=@investment.amount%></h1>
    <p> The goal for the project is $<%=@project.goal%> and the current donations are $<%=@project.current%>. Keep donating!, remember that you can create your own projects. </p>
    <p>Kind regards</p>
    <p>Quickstarter UC team.</p>
  </body>
</html>

