<% if flash[:success] %>
<p> <%= flash[:success] %> <p>
<% end %>

<h1> Users </h1>
<h4> <%= link_to 'Create user', users_new_path %>

<table>
<tr>
  <th> First name </th>
  <th> Last name </th>
</tr>

<% @users.each do |x| %>
<tr>
   <td> <%= x.first_name  %> </td>
   <td> <%= x.last_name %> </td>
   <td> <%= link_to 'Show', x %> </td>
</tr>
<br>
<% end %>

</table>
