<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<h3> User </h3>
<p> First name: <%= @user.first_name %> </p>
<p> Last name: <%= @user.last_name %> </p>
<p> Email: <%= @user.email %> </p>
<p> Sex: <%= @user.sex %> </p>
<p> Birth date: <%= @user.birth_date %> </p>
<p> Image: <%= @user.image %> </p>
<p> Description: <%= @user.description %> </p>

<h4> <%= link_to 'Edit user', edit_user_path(@user) %> </h4>
<h4> <%= link_to 'Delete user',@user, method: :delete, data: { confirm: "Are you sure?" }%> </h4>

<h3>Projects created by <%= @user.first_name %>  </h3>

<% @user.projects.each do |x| %>
<p> <%= x.name %> </p>
<br>
<% end %>

<%= link_to 'Back', users_path %>
