<% project[:projects].each do |project| %>
<a href="/projects/<%=project.id%>" class="project-square">
  <%if project.photo.blank? %>
     <img class='project-image' src="/images/placeholder-project.jpg" >
  <% else %>
    <img src="<%= project.photo.url %>" >
  <% end %>
<h3 id="project-name"> <%= project.name %></h3>
<p id="project-owner">Owner: <%= User.find(project.user_id).first_name %></p>
<p id="project-goal">Goal: <%= project.goal %></p>
<p id="project-current">Current: <%= project.current %></p>
</a>
<% end %>
