<% project[:projects].each do |project| %>
<a href="/projects/<%=project.id%>" class="project-square">
  <%if project.photo.blank? %>
     <img class='project-image' src="/images/placeholder-project.jpg" >
  <% else %>
    <img src="<%= project.photo.url %>" >
  <% end %>
<h5 id="project-name"> <%= project.name %></h5>
<p id="project-owner">Owner: <%= User.find(project.user_id).first_name %></p>
<p id="project-goal">Goal: $<%= number_with_delimiter(project.goal, :delimiter => ',') %></p>
<p id="project-current">Current: $<%= number_with_delimiter(project.current, :delimiter => ',') %></p>
</a>
<% end %>
