<% @user = User.find(@project.user_id) %>
<h3> Project </h3>
<h4> <%= link_to 'Edit project', edit_project_path(@project) %> </h4>
<h4> <%= link_to 'Delete project',@project, method: :delete, data: { confirm: "Are you sure?" }%> </h4>

<% if current_user %>
<h4><%= link_to 'Comment project', comments_new_path %></h4>
<% end %>

<p> Project name: <%= @project.name %> </p>
<p> Owner: <%=link_to @user.first_name+' '+@user.last_name , @user%></p>
<p> Goal: <%= @project.goal %> </p>
<p> Description: <%= @project.description %> </p>
<p> Image: <%= @project.image %> </p>
<p> Limit date: <%= @project.limit_date %> </p>




<% if @project.comments.each %>
<table>
  <tr>
    <th>User</th>
    <th>Content</th>
  </tr>
  <% @project.comments.each do |x| %>
  <tr>
    <td>  <%= User.find(x.user_id).first_name %> </td>
    <td>  <%= x.content %> </td>
    <% end %>
  </table>
<% else %>
<p> There are not comments <p>


<% end %>

<%= link_to 'Back', projects_path %>
