<!DOCTYPE html>
<html>
  <head>
    <title>Grupo9</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul id="Navbar">
      <li class="NavbarElement"> <%= link_to "Home", root_path %> </li>
      <li class="NavbarElement"> <%= link_to "Users", users_path %> </li>
      <li class="NavbarElement"> <%= link_to "Projects", projects_path %></li>
      <li class="NavbarElement"> <%= link_to "Investments", investments_path %></li>
      <li class="NavbarElement"> <%= link_to "Comments", comments_path %></li>

    </ul>


    <%= yield %>

  </body>


</html>
