<!DOCTYPE html>
<html>
  <head>
    <title>Grupo9</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <ul id="Navbar">
        <li class="NavbarElement"> <%= link_to "Home", root_path %> </li>
        <li class="NavbarElement"> <%= link_to "Users", users_path %> </li>
        <li class="NavbarElement"> <%= link_to "Projects", projects_path %></li>
        <li class="NavbarElement"> <%= link_to "Investments", investments_path %></li>
        <li class="NavbarElement"> <%= link_to "Comments", comments_path %></li>
        </ul>
    </header>

    <main>
        <% [:alert, :notice].each do |flash_type| %>
          <% if (flash_message = flash[flash_type]).present? %>
              <div class="<%= flash_type %>"><%= flash_message %></div>
          <% end %>
        <% end %>
        <%= yield %>
        </main>
    <footer>
      <hr>
      <div id="project">© QuickStarter 2017</div>
      <div id="license">
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
          <img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
        </a>
      </div>
    </footer>
  </body>


</html>
